
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>AdminPage</h2>
<a href="@Url.Action("Logout","Login")" class="btn btn-danger">Logout</a>
@{var session = (ESD_Project.Common.UserLogin)Session[ESD_Project.Common.CommonConstants.USER_SESSION]; }
@if (session != null)
{
    <span class="text-white">@session.Username</span>
}
