<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-xl-9 col-md-9 col-sm-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img src="Image/IT.jpg" class="image d-block " width="900" height="500" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <img src="Image/Designer.jpg" class="image d-block " width="900" height="500" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="Image/Business-2.jpg" class="image d-block " width="900" height="500" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="contol-slide carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="contol-slide carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <hr>
            <!--List Posts-->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="shadow tag-cate mb-5" style="border-top:0.3rem solid #005a87;">
                        <h1 class="shadow-sm text-center p-3" style=" font-size:1.2rem;">IT</h1>
                        <div class="justify-content-center px-4 pb-4 pt-3">
                            <div class="shadow mb-3">
                                <a href="#"><img class="w-100 image-cate" src="Image\Recruitment trends in IT industry.jpg" alt=""></a>
                                <div class="text-center text-post-popular">
                                    <a href="#"><span class="tag-cate-IT">IT</span></a>
                                    <h6><a href="#">Recruitment trends in IT industry - Roadmap to become Full-stack Developer & Tester</a> </h6>
                                    <span class="date-post text-center">1 minute ago</span>
                                </div>
                                <div class="cate-text-1 text-center">
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-xl-12">
                                    <div class="row shadow mb-3">

                                        <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                            <a href="#"><img class="w-100" src="Image\Recruitment trends in IT industry.jpg" alt=""></a>
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                            <a href="#"><span class="tag-cate-IT">IT</span></a>
                                            <div class="text-post-popular">
                                                <h6><a href="#">Recruitment trends in IT industry - Roadmap to become Full-stack Developer & Tester</a> </h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-xl-12">
                                    <div class="row shadow mb-3">
                                        <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                            <a href="#"><img class="w-100" src="Image\Recruitment trends in IT industry.jpg" alt=""></a>
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                            <a href="#"><span class="tag-cate-IT">IT</span></a>
                                            <div class="text-post-popular">
                                                <h6><a href="#">Recruitment trends in IT industry - Roadmap to become Full-stack Developer & Tester</a> </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--List Posts 2-->
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="shadow tag-cate mb-5" style="border-top:0.3rem solid #fbff01;">
                        <h1 class="shadow-sm text-center p-3" style=" font-size:1.2rem;">DESIGN</h1>
                        <div class="justify-content-center px-4 pb-4 pt-3">
                            <div class="col-sm-12">
                                <div class="shadow mb-3">
                                    <a href="#"><img class="w-100 image-cate" src="Image\Graphic Design Needs to Learn What to Be a Good Designer.png" alt=""></a>
                                    <div class="text-center">
                                        <a href="#"><span class="tag-cate-Design">DESIGN</span></a>
                                        <h6><a href="#">Graphic Design Needs to Learn What to Be a Good Designer</a> </h6>
                                        <span class="date-post text-center">1 minute ago</span>
                                    </div>
                                    <div class="cate-text-1 text-center">

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="row shadow mb-3">
                                            <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                                <a href="#"><img class="w-100" src="Image\Study Photography with Photographer and Designer - Travel Blogger.jpg" alt=""></a>
                                            </div>
                                            <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                                <a href="#"><span class="tag-cate-Design">DESIGN</span></a>
                                                <div class="text-post-popular">
                                                    <h6><a href="#">Study Photography with Photographer and Designer - Travel Blogger</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="row shadow mb-3">
                                            <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                                <a href="#"><img class="w-100 h-60" src="Image\ACAWC 2020.jpg" alt=""></a>
                                            </div>
                                            <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                                <a href="#"><span class="tag-cate-Design text-center">DESIGN</span></a>
                                                <div class="text-post-popular">
                                                    <h6><a href="#">University of Greenwich (Vietnam) "bumper" prizes at the World Graphic Design Championship – ACAWC 2020</a> </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--List Posts 3-->
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="shadow tag-cate mb-5" style="border-top:0.3rem solid #57ff01;">
                        <h1 class="shadow-sm text-center p-3" style=" font-size:1.2rem;">BUSINESS</h1>
                        <div class="justify-content-center px-4 pb-4 pt-3">
                            <div class="col-sm-12">
                                <div class="shadow mb-3">
                                    <a href="#"><img class="w-100 image-cate" src="Image\5 reasons to choose Business Administration at Greenwich University.jpg" alt=""></a>
                                    <div class="text-center">
                                        <a href="#"><span class="tag-cate-Business">BUSINESS</span></a>
                                        <h6><a href="#">5 reasons to choose Business Administration at Greenwich University</a> </h6>
                                        <span class="date-post text-center">1 minute ago</span>
                                    </div>
                                    <div class="cate-text-1 text-center">

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="row shadow mb-3">
                                            <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                                <a href="#"><img class="w-100 " src="Image\Business Support Intern.jpg" alt=""></a>
                                            </div>
                                            <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                                <a href="#"><span class="tag-cate-Business">BUSINESS</span></a>
                                                <div class="text-post-popular">
                                                    <h6><a href="#">Business Support Intern</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="row shadow mb-3">
                                            <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                                <a href="#"><img class="w-100 h-60" src="Image\USE OF AI CREATIVE IN BUSINESS.jpg" alt=""></a>
                                            </div>
                                            <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                                <a href="#"><span class="tag-cate-Business text-center">BUSINESS</span></a>
                                                <div class="text-post-popular">
                                                    <h6><a href="#">USE OF AI CREATIVE IN BUSINESS</a> </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--List Posts 4-->
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="shadow tag-cate mb-5" style="border-top:0.3rem solid #ffc107;">
                        <h1 class="shadow-sm text-center p-3" style=" font-size:1.2rem;">ART</h1>
                        <div class="justify-content-center px-4 pb-4 pt-3">
                            <div class="col-sm-12">
                                <div class="shadow mb-3">
                                    <a href="#"><img class="w-100 image-cate" src="Image\Greenwich University organizes Art of Decoration & Communication courses on the banquet table.png" alt=""></a>
                                    <div class="text-center">
                                        <a href="#"><span class="tag-cate-ART">ART</span></a>
                                        <h6><a href="#">Greenwich University organizes Art of Decoration & Communication courses on the banquet table</a> </h6>
                                        <span class="date-post text-center">1 minute ago</span>
                                    </div>
                                    <div class="cate-text-1 text-center">

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="row shadow mb-3">
                                            <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                                <a href="#"><img class="w-100" src="Image\Art Talk - An art lover gathering.png" alt=""></a>
                                            </div>
                                            <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                                <a href="#"><span class="tag-cate-ART">ART</span></a>
                                                <div class="text-post-popular">
                                                    <h6><a href="#">Art Talk - An art lover gathering</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="row shadow mb-3">
                                            <div class="col-4 col-sm-4 col-md-12 col-xl-6">
                                                <a href="#"><img class="w-100 h-60" src="Image\The leader of the Music Club shared his passion for art.jpg" alt=""></a>
                                            </div>
                                            <div class="col-8 col-sm-8 col-md-12 col-xl-6">
                                                <a href="#"><span class="tag-cate-Art text-center">ART</span></a>
                                                <div class="text-post-popular">
                                                    <h6><a href="#">The leader of the Music Club shared his passion for art</a> </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xl-3 col-md-3 col-sm-12 justify-content-center">
            <div class="Follow">
                <h3>Follow us:</h3>
                <div class=" d-flex justify-content-start shadow-sm p-3 mb-5 bg-body rounded">
                    <a class="me-3" href="#">
                        <i class="fab fa-facebook-square "></i>
                        <span class="span">Followers</span>
                    </a>
                    <a class="me-3" href="#">
                        <i class="fab fa-twitter-square"></i>
                        <span class="span">Followers</span>
                    </a>
                </div>
            </div>

            <!--Categories bar-->
            <div class="shadow rounded  ">
                <div class="cat-title shadow-sm text-center p-2" style=" font-size:1.2rem; ">MOST POPULAR</div>
                <ul class="cat-content-group">
                    <li class="cat-content-IT ">
                        <a href="#" class="link-cat-content d-flex justify-content-between py-2 px-4">
                            <span class="category-text">IT</span>
                            <span class="count-hidden">12</span>
                        </a>
                    </li>
                    <li class="cat-content-Design ">
                        <a href="#" class="link-cat-content d-flex justify-content-between py-2 px-4">
                            <span class="category-text">Design</span>
                            <span class="count-hidden">10</span>
                        </a>
                    </li>
                    <li class="cat-content-Business">
                        <a href="#" class="link-cat-content d-flex justify-content-between py-2 px-4">
                            <span class="category-text">Business</span>
                            <span class="count-hidden">9</span>
                        </a>
                    </li>
                    <li class="cat-content-Art">
                        <a href="#" class="link-cat-content d-flex justify-content-between py-2 px-4">
                            <span class="category-text">Art</span>
                            <span class="count-hidden">7</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>